<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tinktime.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage" />
    </feature>
    <feature name="Contacts">
        <param name="ios-package" value="CDVContacts" />
    </feature>
    <feature name="Sms">
        <param name="ios-package" value="Sms" />
    </feature>
    <feature name="Console">
        <param name="ios-package" value="CDVLogger" />
    </feature>
    <feature name="PushPlugin">
        <param name="ios-package" value="PushPlugin" />
    </feature>

    <preference name="android-minSdkVersion" value="15" />
    <preference name="android-maxSdkVersion" value="23" />
    <preference name="orientation" value="portait" />
    <preference name="target-device" value="handset" />
    <preference name="fullscreen" value="true" />

    <allow-navigation href="*" />

    <icon src="www/resources/icons/ios/icon-60.png" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashShowOnlyFirstTime" value="true" />


    <name>Tinktime</name>
    <description>
        A new breed of communication app. Time is a gift, share it.
    </description>
    <author email="dev@tinktime.com" href="http://tinktime.com">
        Tinktime AB Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />

        <icon density="ldpi" src="www/resources/icons/android/ldpi.png" />
        <icon density="mdpi" src="www/resources/icons/android/mdpi.png" />
        <icon density="hdpi" src="www/resources/icons/android/hdpi.png" />
        <icon density="xhdpi" src="www/resources/icons/android/xhdpi.png" />

        <splash density="ldpi" src="www/resources/images/others/bg.png"/>
        <splash density="mdpi" src="www/resources/images/others/bg.png"/>
        <splash density="hdpi" src="www/resources/images/others/bg.png"/>
        <splash density="xhdpi" src="www/resources/images/others/bg.png"/>

    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="www/resources/icons/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="www/resources/icons/ios/icon-60.png" width="60" height="60" />
        <icon src="www/resources/icons/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="www/resources/icons/ios/icon-76.png" width="76" height="76" />
        <icon src="www/resources/icons/ios/icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="www/resources/icons/ios/icon.png" width="57" height="57" />
        <icon src="www/resources/icons/ios/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="www/resources/icons/ios/icon-72.png" width="72" height="72" />
        <icon src="www/resources/icons/ios/icon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="www/resources/icons/ios/icon-small.png" width="29" height="29" />
        <icon src="www/resources/icons/ios/icon-small@2x.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="www/resources/icons/ios/icon-50.png" width="50" height="50" />
        <icon src="www/resources/icons/ios/icon-50@2x.png" width="100" height="100" />

        <icon src="www/resources/icons/ios/icon-40.png" width="40" height="40" />
        <icon src="www/resources/icons/ios/icon-40@2x.png" width="80" height="80" />

        <splash height="568" src="www/resources/images/others/bg.png" width="320" />
        <splash height="480" src="www/resources/images/others/bg.png" width="320" />
        <splash height="960" src="www/resources/images/others/bg.png" width="640" />
        <splash height="1136" src="www/resources/images/others/bg.png" width="640" />
        <splash height="1024" src="www/resources/images/others/bg.png" width="768" />
        <splash height="768" src="www/resources/images/others/bg.png" width="1024" />
        <splash height="2208" src="www/resources/images/others/bg.png" width="1242" />
        <splash height="1334" src="www/resources/images/others/bg.png" width="750" />
        <splash height="1242" src="www/resources/images/others/bg.png" width="2208" />


    </platform>
    <engine name="ios" spec="~4.1.0" />
    <engine name="android" spec="~5.1.1" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="phonegap-plugin-push" spec="~1.6.0">
        <variable name="SENDER_ID" value="196429376160" />
    </plugin>
    <plugin name="cordova-plugin-camera" spec="~2.1.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.2" />
    <plugin name="com.dbaq.cordova.contactsPhoneNumbers" spec="https://github.com/dbaq/cordova-plugin-contacts-phone-numbers.git" />
    <plugin name="cordova-plugin-device" spec="~1.1.1" />
    <plugin name="cordova-plugin-file" spec="~4.1.0" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.5.0" />
    <plugin name="cordova-plugin-sms" spec="~1.0.5" />
    <plugin name="com.cordova.plugins.sms" spec="https://github.com/cordova-sms/cordova-sms-plugin.git" />
    <plugin name="cordova-plugin-filepath" spec="~1.0.2" />
    <plugin name="cordova-plugin-google-analytics" spec="~0.8.1" />
    <plugin name="cordova-plugin-network-information" spec="~1.2.0" />
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.0.11" />
</widget>
