// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
@import "compass/css3";

// Custom code goes here..

// Examples of using the icon mixin:
@include icon('mail');
@include icon('speedometer');

@include sencha-button-ui('ttButton', #E55845,'glossy');
 
//custom nexalight font
@include font-face("nexalight", "/stylesheets/fonts/custom/NexaLight.otf");

//images
$b-landing-img: '../images/background/landing.png';
$b-split-left-img: '../images/background/split_left.png';
$b-split-right-img: '../images/background/split_right.png';
$b-tink-img: '../images/background/tink.png';
$b-tinkbox-img: '../images/background/tinkbox.png';
$i-mail-img: '../images/icons/mail.png';
$i-tink-img: '../images/icons/tink.png';
$o-tink-img: '../images/others/tink.png';

 
body{
    color: #FFFFFF;
    font-family: "nexalight";
}

.cls-tt-landing{
    background-image: url($b-landing-img);
    background-size: 100% 100%;
}
.cls-tt-tinking{
    background-image: url($b-tink-img);
    background-size: 100% 100%;
}
.cls-tt-tinkbox{
    background-image: url($b-tinkbox-img);
    background-size: 100% 100%;
}
.cls-tt-split-left{
    background-image: url($b-split-left-img);
    background-size: 100% 100%;
}
.cls-tt-split-right{
    background-image: url($b-split-right-img);
    background-size: 100% 100%;
}

.x-html h1, .x-html h2, .x-html h3, .x-html h4, .x-html h5, .x-html h6{
    color: #FFFFFF;
    font-family: "nexalight";
    font-size: 35pt;
}
.x-button.x-button-confirm-round.clsBegin.x-layout-box-item.x-flexed.x-sized .x-button-label{
    color: #FFFFFF;
    font-family: "nexalight";
    height: 35px;
    width: 140px;
    font-size: 16pt;
    @include border-radius(10px);
}
.clsTimerClock{
    color: #FFFFFF;
    font-family: "nexalight";
    font-size: 20pt;
}
.x-button-normal.x-button.clsTinkButton.x-layout-box-item.x-stretched {
    background-image: url($o-tink-img);
    background-size: 100% 100%;
    width: 60px;
    height: 60px;
    background-color:rgba(135,156,189,0.34);
}
.img-trinket{
	border: 2px solid white;
	margin-left: 7px;
    @include border-radius(10px);
}
.prev-trinket{
    border: 2px solid white;
    @include border-radius(10px);
}
.clsSendTink{
       height: 35px;
    width: 140px;
}
.clsPreviewSelection{
    border: 2px solid white;
    @include border-radius(10px);
}
.clsSecondsSentPreview{
 background-color:rgba(173, 174, 158, 0.4);
 font-size: 3em; 
 text-align: center;
}
.clsFeed .x-list-item{
    position:relative;
    padding:0em 0em;
    min-height:2.2em;
    display:-webkit-box;
    display:box;
    border:1px solid #c8c8c8;
    @include border-right-radius(10px);
    margin-top:4px;
    margin-right:10px;
}
.clsTextMessage{
    float: left;
}
.clsTrinketMessage{
    float: right;
}