// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
@import "compass/css3";

// Custom code goes here..

// Examples of using the icon mixin:
@include icon('mail');
@include icon('speedometer');

@include sencha-button-ui('ttButton', #E55845,'glossy');
 
//custom nexalight font
@include font-face("nexalight", "/stylesheets/fonts/custom/NexaLight.otf");

//images
$b-landing-img: '../images/background/landing.jpg';
$b-split-left-img: '../images/background/split_left.jpg';
$b-split-right-img: '../images/background/split_right.jpg';
$b-tink-img: '../images/background/tink.jpg';
$b-tinkbox-img: '../images/background/tinkbox.jpg';
$i-mail-img: '../images/icons/mail.png';
$i-tink-img: '../images/icons/tink.png';
$o-tink-img: '../images/others/tink.png';

 

@font-face {
font-family:"nexalight";
src:url('../sass/stylesheets/fonts/custom/NexaLight.otf');
}
body {
    color:#FFFFFF;
    font-family:"nexalight"
}

.cls-tt-replaytink {
    background-color:black
}
.cls-tt-tinking {
    background-image:url("../images/background/tink.jpg");
    background-size:cover;
}
.cls-tt-tinkbox {
    background-image:url("../images/background/tinkbox.jpg");
    background-size:cover;
}

.x-html h1, .x-html h2, .x-html h3, .x-html h4, .x-html h5, .x-html h6 {
    color:#FFFFFF;
    font-family:"nexalight";
    font-size:35pt
}


.clsTimerClock {
    color:#FFFFFF;
    font-family:"nexalight";
    font-size:20pt
}

.img-trinket {
    border:2px solid white;
    margin-left:7px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px
}

.clsPreviewSelection {
    border:2px solid white;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px
}
.clsSecondsSentPreview {
    background-color:rgba(173, 174, 158, 0.4);
    font-size:3em;
    text-align:center
}



/******************Override CSS********************/

.x-msgbox .x-msgbox-title{color: #333; font-family:"nexalight"; height: 50px !important; padding: 5px;}
.x-msgbox .x-body{font-family:"nexalight"; font-weight: 300; font-size: 20px; min-height: 28px; padding: 10px 0;}
.x-msgbox .x-msgbox-title .x-innerhtml{color: #18386d; font-family:"nexalight"; font-weight: 100; text-shadow: none; text-transform: uppercase; font-size: 17px;}
.x-msgbox .x-title{font-size: 16px;}
.x-msgbox .x-msgbox-buttons .x-inner{border-top: solid 2px #ccc;}
.x-msgbox {background: #fff !important; border: none !important; padding: 0px !important;}
.x-msgbox .x-msgbox-text{padding:10px 10px 10px 10px; min-height: 46px; font-family:"nexalight"; color: #686868; font-weight: 100; font-size: 15px; text-shadow: none; color: #686868 !important;}
.x-msgbox .x-toolbar.x-docked-bottom{border-top: solid 1px #ccc; padding: 0px;}
.x-msgbox .x-button{background: none !important; background-image: none !important; border-radius: 0px; color: #333 !important; border: none !important; font-family:"nexalight"; border-right: solid 1px #ccc !important; margin: 0px;  width: 50%;}
.x-msgbox .x-button.x-button-pressing{background: #f0f0f0 !important;}
.x-msgbox .x-button .x-button-label{font-weight: 100; font-size: 16px !important; color: #686868; opacity: 1; -webkit-text-fill-color: #686868; text-overflow: initial; font-family:"nexalight"; opacity: 1 !important;}
.x-msgbox .x-button:last-child{border-right: none !important;}
.x-msgbox .x-button.x-stretched{ padding: 0; margin: 0; min-height: 46px; border-radius: 0 0 10px 10px;}
.x-msgbox .x-field{min-height: 40px; margin:15px 0; padding:0 15px 15px 15px; background-color: transparent;}
.x-msgbox .x-field .x-input-el{min-height: 40px; box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3); border-radius: 10px; border: solid 1px #ccc;}
.x-msgbox .x-clear-icon{display: none !important;}
.x-msgbox .x-field-input{padding-right: 0px;}

/********************New CSS************************/

body{
    background-image:url("../images/background/landing.jpg");
    background-size:cover;
    overflow: hidden;
}

#appLoadingIndicator {
    height: 100%;
    position:relative;
}

#appLoadingIndicator .inside {
    background-image: url(../images/others/tink.png);
    background-repeat: no-repeat;
    background-size: 125px;
    position: absolute;
    background-position-y:center;
    background-position-x:center;  
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}

.bg-transparent{
    background-image: none;
    background-color: transparent;
    background: none;
}
.cls-tt-landing {
    background-image:url("../images/background/landing.jpg");
    background-size:cover;
}
.landing-page{
    position: absolute; 
    top: 50%; 
    left: 0; 
    right: 0; 
    margin-top: -90px;
}
.landing-page .logo{
    width:100%; 
    max-width: 640px; 
    margin: 0 auto; 
    height: 130px; 
    background-image: url(../images/others/logo.png); 
    background-repeat: no-repeat; 
    background-size: 280px; 
    background-position-y:0; 
    background-position-x:center;
}
.landing-page .x-button.clsBegin{
    color:#FFFFFF;
    background:#E55845;
    min-height:50px;
    width:200px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
    border:none;
    margin: 0 auto;
}
.landing-page .x-button.clsBegin.x-button-pressing{background-color: #dd5546;}
.landing-page .x-button.clsBegin .x-button-label{
    font-weight: normal;
    font-family:"nexalight";
    font-size:24px;
    line-height: 40px;
}
.verify-page{
    position: absolute; 
    top: 50%; 
    left: 0; 
    right: 0; 
    margin-top: -150px;
    padding: 0 25px; 
}
.verify-page .page-title{
    font-size: 25px;
    color: #fff; 
    text-align: center;
    margin-bottom: 25px;
}
.verify-page .help-text{
    font-size: 20px;
    color: #fff; 
    text-align: center;
    margin-bottom: 25px;
    line-height: 25px;
    font-weight: bold;
}
.verify-page .help-text-sm{
    font-size: 16px;
    color: #fff; 
    text-align: center;
    margin-top: 20px;
    line-height: 20px;
}
.verify-page .help-text-sm span{
    font-weight: 600;
    border-bottom: solid 1px #fff;
}
.send-again-btn.x-button{
    background-image:none;
    background-color:rgba(107,107,107,0.6);
    min-height:50px;
    border-radius:0px;
    border:none;
    color:#fff;
}
.send-again-btn.x-button.x-button-pressing{
    background-color: #6B6B6B;
}
.send-again-btn.x-button .x-button-label{
    font-weight: normal;
    font-family:"nexalight";
    font-size:24px;
    line-height: 40px;
}
.form-field{
    background: none;
    background-color: transparent;
    border:solid 2px #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    min-height: 50px;
    color: #fff;
    font-family:"nexalight";
    margin-bottom: 35px;
    font-size: 25px;
}
.form-field .x-input-el{
    background:none;
    color: #fff;
    font-size: 25px;
    min-height: 50px;
    padding: 0 10px;
    -webkit-text-fill-color: white;
}
.form-field .x-input-el[placeholder]::-webkit-input-placeholder{
    color: #fff;
    font-size: 25px;
}
.form-btn.x-button{
    color:#FFFFFF;
    background:#E55845;
    min-height:50px;
    width:200px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
    border:none;
    margin: 0 auto;
}
.form-btn.x-button.x-button-pressing{
    background-color: #dd5546;
}
.form-btn.x-button .x-button-label{
    font-weight: normal;
    font-family:"nexalight";
    font-size:24px;
    line-height: 40px;
}
.trinket-list{width: 100%;}
.trinket-list .x-scroll-scroller{
    top: 50%;
    left: 50%;
    margin-top: -159px;
    margin-left: -159px;
    max-height: 318px;
    max-width: 318px;
    min-height: inherit;
    min-width: inherit;
}
.trinket-list .x-list{background: none;}
.trinket-list .x-list-normal .x-list-item{
    margin: 5px;
    border: 2px solid #ffffff;
    float: left !important;
    width: 96px;
    height: 96px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.trinket-list .x-list-normal .x-list-item.x-item-pressed{
    background-color:transparent !important;
    background:none !important;
    border-top-color:#fff !important;
}
.trinket-list .x-list-normal .x-list-item.x-item-selected{
    background-color:transparent !important;
    background:none !important;
    border-top-color:#fff !important;
}
.trinket-list .x-list-item-tpl .img-bg{
    background-size: cover !important; 
    background-position: center;
    position: absolute;
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
}
.top-bar.x-docked-top{
    background-image: none;
    background-color: transparent;
    background: none;
    padding: 0;
    border-bottom: none;
    overflow: inherit;

}
.top-bar.x-docked-top .x-title {
    color: #FFFFFF;
    text-shadow: none;
    font-weight: 100;
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 42px; 
}
.top-x-top-bar{
    top: 20px;
}
.top-bar.x-toolbar-dark.x-docked-top{
    background-image: none;
    background-color: transparent;
    background: none;
    padding: 0;
    border-bottom: none;
    overflow: inherit;

}
.top-bar .top-btn.x-button{
    min-height: 40px; 
    background-color:transparent; 
    background-position-x:center;
    background-position-y:center;
    background-repeat: no-repeat;
    min-width: 45px;
    border-radius: 0px;
    border: none;
    padding: 0;
    margin:0;
    position: relative;
}
.top-bar .top-btn.btn-tink.x-button{
    background-image: url(../images/icons/tink.png); 
    background-size: 30px;
    overflow: inherit;
}
.top-bar .top-btn.btn-tink.x-button.x-button-pressing{
    background-image: url(../images/icons/tink.png);
    background-color:transparent;
}
.top-bar .top-btn.btn-mail.x-button{
    background-image: url(../images/icons/mail.png); 
    background-size: 30px;
    overflow: inherit;
}
.top-bar .top-btn.btn-mail.x-button.x-button-pressing{
    background-image: url(../images/icons/mail.png);
    background-color:transparent;
}
.top-bar .top-btn.btn-mail.x-button.show-notification:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 99px;
    background:#e55845;
    top: 8px;
    right: 6px;
}
.top-bar .top-btn.btn-delete.x-button{
    background-image: url(../images/icons/delete.png); 
    background-size: 30px;
}
.top-bar .top-btn.btn-delete.x-button.replay-tink-close-btn{
    background-color: rgba(173, 174, 158, 0.7);   
    padding: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.top-bar .top-btn.btn-delete.x-button.x-button-pressing{
    background-image: url(../images/icons/delete.png);
    background-color:transparent;
}
.bg-transparent-white.flip-design-right .x-dock{
    background-image: url(../images/others/flip_design_right1.png);
    background-position: top right;
    background-size: 35px;
    background-repeat: no-repeat;
}
.top-bar .top-btn.btn-mail.x-button.flip-design-right:after, .top-bar .top-btn.btn-mail.x-button.x-button-pressing.flip-design-right:after{
    content: "";
    position: absolute;
    background-image: url(../images/others/flip_design_right2.png);
    background-size: 45px;
    background-repeat: no-repeat;
    z-index: 9;
    width: 100px;
    height: 80px;
    background-position-x: 2px;
    background-position-y: 2px;
    background-color: transparent;
}
.bg-transparent-colored.flip-design-left .x-dock{
    background-image: url(../images/others/flip_design_left1.png);
    background-position: top left;
    background-size: 48px;
    background-repeat: no-repeat;
    overflow: inherit;
}
.top-bar .top-btn.btn-tink.x-button.flip-design-left:after, .top-bar .top-btn.btn-tink.x-button.x-button-pressing.flip-design-left:after{
    content: "";
    position: absolute;
    background-image: url(../images/others/flip_design_left2.png);
    background-size: 45px;
    background-repeat: no-repeat;
    z-index: 9;
    width: 100px;
    height: 80px;
    background-position-x: 2px;
    background-position-y: 2px;
    background-color: transparent;
}
.tink-page .x-dock-body{
    overflow: inherit;
}
.tinkanimation{
    width:100%;
    height:100%; 
    position: fixed;
    top: 0;
    left: 0;
    border:none; 
    background: none;
}
.show-full-frame .x-dock-body{
    z-index:1 !important;
}
.clsTinkButton {
z-index: 2 !important;
background-size: 100% 100%;
width: 120px;
height:120px;
background-color: transparent;
margin: 0 auto;
border: none;
margin-bottom: 30px;
}
.search-panel{
    position: relative;
    min-height:45px; 
    margin-bottom: 20px;
}
.search-list-sec{
    background:none;
    width: 90%; 
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    overflow: inherit;
}
.search-list-sec .x-dock.x-unsized>.x-dock-body{
    position: fixed !important;
    top: 98px;
    bottom: 0;
    left: 10%;
    right: 0;
    padding-left: 15px;
    display:none;
    background:rgba(255,255,255,0.80);
}

.search-list-sec.show-list .x-dock.x-unsized>.x-dock-body{
    display:block;
}

.search-list-sec.x-list-normal .x-list-item.x-list-item-tpl{
    border-top: none;
    border-bottom: 1px solid #a6a8ab;
}
.search-list-sec.x-list-normal .x-list-item.x-item-selected.x-list-item-tpl{
    background-image: none;
    background-color: transparent;
    color: #808184;
}
.search-list-sec.x-list-normal .x-list-item.x-list-item-tpl.x-list-footer-wrap{
    border-bottom: none;
}
.search-list-sec.x-list .x-list-item{
    color: #808184;
}
.search-panel .search-contacts-field{
    background: #6a899b;
    border-radius:10px 0px 0px 10px; 
}
.search-panel .search-contacts-field .x-input-search{
    background: none;
    color: #fff;
    font-size: 18px;
    min-height: 40px;
    margin-left: 0;
    padding: 11px 10px 10px;
    -webkit-text-fill-color: white;
    line-height: 25px;
}
.search-panel .search-contacts-field .x-input-search[placeholder]::-webkit-input-placeholder{
    color:#fff;
    font-size: 18px;
    line-height: 25px;
}
.search-panel .x-field-search .x-field-input:before{
    display: none;
}
.search-panel .search-contacts-field .x-form-label{
    max-width: 50px;
    background: none;
    color: #fff;
    font-family: "nexalight";
    font-size: 24px;
    border-right: solid 1px #fff;
    padding: 0 0;
    text-align: center;
    font-weight: normal;
    margin: 7px 0px;
    line-height: 30px;
}
.message-box {
    border:2px solid white;
    -webkit-border-radius:10px 0 0 10px;
    -moz-border-radius:10px 0 0 10px;
    -ms-border-radius:10px 0 0 10px;
    -o-border-radius:10px 0 0 10px;
    border-radius:10px 0 0 10px;
    width: 90%;
    margin-left: 10%;
    border-right: none;
    overflow: hidden;
    position: relative;
}
.message-box .preview-trinket{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-color: #333;
    border-radius: 10px;
    border: solid 2px #fff;
    margin: -2px;
}
.message-box .text-msg-preview{
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    background: none;
    padding-left: 100px;
    vertical-align: middle;
}
.message-box .text-msg-preview textarea{
    background: none;
    vertical-align: middle;
    min-height: 96px;
    margin: 0;
    color: #fff;
    -webkit-text-fill-color: white;
    font-size:18px;
}
.message-box .text-msg-preview textarea[placeholder]::-webkit-input-placeholder{
    color: #fff;
    font-size: 18px;
    line-height: 78px;
}
.message-box .seconds-preview {
    background-color: rgba(173, 174, 158, 0.7);
    font-size: 20px;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 98px;
    border-radius: 10px;
    line-height: 95px;
    font-size: 36px;
    font-weight:bolder;
}
.form-btn.send-btn.x-button{
    width: auto;
    min-height: 85px;
    text-transform: uppercase;
}
.split-page{width: 100%;}
.split-page .x-html{padding: 0px;}
.split-page .cls-tt-split-left {
    background-image:url("../images/background/split_left.jpg");
    background-size:cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
     align-items: center; 
}
.split-page .cls-tt-split-right {
    background-image:url("../images/background/split_right.jpg");
    background-size:cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
     align-items: center; 
}
.split-page .cls-tt-split-left .x-container{
    height: 100%;
    background: none;
    border-radius: 0;
    border: none;
}
.split-page .cls-tt-split-left .x-container .x-button{
    height: 100%;
    background: none;
    border-radius: 0;
    border: none;
}
.split-page .cls-tt-split-left .x-container .x-button .x-button-label{
    white-space: inherit;
    color: #fff;
    font-size: 26px;
    font-weight: 100;
    font-family:"nexalight";
    text-transform: uppercase;
}
.split-page .cls-tt-split-right .x-container{
    height: 100%;
}
.split-page .cls-tt-split-right .x-container .x-button{
    height: 100%;
    background: none;
    border-radius: 0;
    border: none;
}
.split-page .cls-tt-split-right .x-container .x-button .x-button-label{
    white-space: inherit;
    color: #fff;
    font-size: 26px;
    font-weight: 100;
    font-family:"nexalight";
    text-transform: uppercase;
}
.split-page .prev-trinket {
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    border-radius:15px;
    position: absolute;
    top: 12%;
    left:50%;
    margin-left:-50px;
    margin-top:-50px;
    width: 100px;
    height: 100px;
    z-index: 9;
    background-size:cover;
    background-color: #333;
    border: solid 3px #ACBCC4;
}
.split-page .prev-trinket .clsSentTrinket {
    position:absolute;
    top:112px;
    text-transform: uppercase;
    font-size:25px;
    color: #fff;
}
.clsFeed{
    margin-top: 35px;
}
.clsFeed .x-list-item {
    position:relative;
    padding:0em 0em;
    min-height:2.2em;
    display:-webkit-box;
    display:box;
    margin-top:15px;
    
}
.clsFeed .x-list-item .left-true{
    margin-right:10%;
}
.clsFeed .x-list-item .left-false{
    margin-left:10%;
}
.clsFeed .x-list-item .left-true .true{
    border:3px solid #E55845;
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px;
    padding: 5px;
}
.clsFeed .x-list-item .left-true .false{
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color: #8BA59A;
    padding: 5px;
}
.clsFeed .x-list-item .left-true .clsTrinketMessage {
    float:right;
    margin-left:10px;
}
.clsFeed .x-list-item .left-true .clsMessageme{
    padding-left:20px;
}
.clsFeed .x-list-item .left-false .false{
    -moz-border-radius-topright:10px;
    -webkit-border-top-left-radius:10px;
    border-top-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px;
    background-color: #6a899b;
    padding: 5px;
}
.clsFeed .x-list-item .left-false .clsTrinketMessage {
    float:left;
    margin-right:10px;
}
.clsFeed .x-list-item .left-false .clsMessageme{
    padding-right:20px;
}

.clsFeed .x-list-item .clsTrinketMessage{
    width: 94px;
    height: 94px;
    position: relative;
    border-radius: 10px;
}

.clsFeed .x-list-item .true .clsSeconds{
    display: none;
}
.clsTextMessage {
    overflow: hidden;
    display: block;
}
.clsTextMessage .name-panel{
    font-size: 20px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 34px;
}
.clsTextMessage .des-panel{
    font-size: 15px;
    font-weight: normal;
    min-height: 46px
}
.clsTextMessage .date-panel{
    font-size: 12px;
    font-weight: normal;
}
.clsTrinketMessage .clsTrinketFile{
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}
.clsTrinketMessage .clsTrinketFile .img-bg{
    background-size: cover !important;
    background-repeat: no-repeat;
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
}
.clsTrinketMessage .clsSeconds{
    position: absolute;
    font-size: 30px;
    color: #fff;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    text-align: center;
    vertical-align: middle;
    z-index: 9;
    font-family:"nexalight";
    font-weight: bolder;
    line-height: 100px;
    background-color: rgba(173, 174, 158, 0.7);
}
.clsTrinketMessage .clsSeconds span{
    font-size: 25px;
}

.clsTimerClock, .clsReplayTextMessage{
    .x-innerhtml{
        background-color: rgba(173, 174, 158, 0.7);   
        font-weight: bolder;
        padding: 10px;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        }
}



 @media (min-height: 620px){

    .trinket-list .x-scroll-scroller{
        margin-top: -180px;
        margin-left: -180px;
        max-height: 360px;
        max-width: 360px;
    }
    .trinket-list .x-list-normal .x-list-item{
        width: 110px;
        height: 110px;
    }

 }

 @media (min-height: 800px){

    .trinket-list .x-scroll-scroller{
        margin-top: -195px;
        margin-left: -195px;
        max-height: 480px;
        max-width: 480px;
    }
    .trinket-list .x-list-normal .x-list-item{
        width: 150px;
        height: 150px;
    }
}
 

@media (max-height: 480px){



 }

 @media (max-width: 380px){

    .landing-page{
        top: 50%;
        margin-top: -68px;
    }
    .landing-page .logo{
        height: 95px;
        background-size: 220px;
    }
    .landing-page .x-button.clsBegin{
        min-height: 40px;
        width: 120px;
    }
    .landing-page .x-button.clsBegin .x-button-label{
        font-size: 20px;
        line-height: 30px;
    }
    .authenticate-page{
        margin-top: -85px;
    }
    .form-field{
        min-height: 40px;
        margin-bottom: 30px
    }
    .form-field .x-input-el{
        min-height: 40px;
        font-size: 25px;
    }
    .form-field .x-input-el[placeholder]::-webkit-input-placeholder{
        font-size: 25px;
    }
    .form-btn.x-button{
        min-height: 40px;
        width: 160px;
    }
    .form-btn.x-button .x-button-label{
        font-size: 20px;
        line-height: 30px;
    }
    .form-btn.send-btn.x-button{
        min-height: 75px;
    }
    .trinket-list .x-scroll-scroller{
        margin-top: -159px;
        margin-left: -159px;
        max-height: 318px;
        max-width: 318px;
    }
    .trinket-list .x-list-normal .x-list-item{
        width: 96px;
        height: 96px;
    }

    .verify-page .help-text{
    font-size: 18px;
    line-height: 25px;
    }
    .verify-page .help-text-sm{
        font-size: 14px;
        line-height: 20px;
    }
    .send-again-btn.x-button{
        min-height:40px;
    }
    .send-again-btn.x-button .x-button-label{
        font-size:20px;
        line-height: 35px;
    }

}

.on-tinktime-true{
    color: green;
}

.on-tinktime-false{
    color: red;
}


.button_white {
    width: 109px;
    height: 108px;
    background: url('../images/others/button_white.png');
    position:relative;  
    cursor: pointer;

    -webkit-border-radius: 50px;
    border-radius: 50px;

    -webkit-box-shadow:  0px 2px 0px rgba(0,0,0,0.3), 0px 9px 0px 0px rgba(0,0,0,0.3), 0px 12px 7px #999;
    -moz-box-shadow:  0px 2px 0px rgba(0,0,0,0.3), 0px 9px 0px 0px rgba(0,0,0,0.3), 0px 12px 7px #999;
    -o-box-shadow:  0px 2px 0px rgba(0,0,0,0.3), 0px 9px 0px 0px rgba(0,0,0,0.3), 0px 12px 7px #999;
    box-shadow:  0px 2px 0px rgba(0,0,0,0.3), 0px 9px 0px 0px rgba(0,0,0,0.3), 0px 12px 7px #999;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

    background-size: cover !important; 
    background-position: center;
}

.button_red {
    width: 109px;
    height: 108px;
    background: url('../images/others/button_red.png');
    position:relative;  

    -moz-transform: translateX(0px) translateY(7px);
    -webkit-transform: translateX(0px) translateY(7px);
    -o-transform: translateX(0px) translateY(7px);
    -ms-transform: translateX(0px) translateY(7px);
    transform: translateX(0px) translateY(7px);

    -webkit-box-shadow:  0px 0px 0px rgba(0,0,0,0.3), 0px 0px 0px 0px rgba(0,0,0,0.3), 0px 0px 0px #999, inset 0px 0px 0px 0px rgba(0,0,0,0.4);
    -moz-box-shadow:  0px 0px 0px rgba(0,0,0,0.3), 0px 0px 0px 0px rgba(0,0,0,0.3), 0px 0px 0px #999, inset 0px 0px 0px 0px rgba(0,0,0,0.4);
    -o-box-shadow:  0px 0px 0px rgba(0,0,0,0.3), 0px 0px 0px 0px rgba(0,0,0,0.3), 0px 0px 0px #999, inset 0px 0px 0px 0px rgba(0,0,0,0.4);
    box-shadow:  0px 0px 0px rgba(0,0,0,0.3), 0px 0px 0px 0px rgba(0,0,0,0.3), 0px 0px 0px #999, inset 0px 0px 0px 0px rgba(0,0,0,0.4);
}


.thinking-container{
    width: 1170px;
    margin: 300px auto;
    text-align: center;
}