// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
@import "compass/css3";

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');
 
//custom nexalight font
@include font-face("nexalight", font-files("custom/NexaLight.otf"));

//images
$b-split-img: '../images/background/split.png';
$b-tink-img: '../images/background/tink.png';
$b-tinkbox-img: '../images/background/tinkbox.png';
$i-mail-img: '../images/icons/mail.png';
$i-tink-img: '../images/icons/tink.png';
$o-tink-img: '../images/others/tink.png';

 
body{
    color: #FFFFFF;
    font-family: "nexalight";
}

div{
   &.x-container, &.x-fullscreen, &.x-layout-card-item, &.x-sized{
        background: url($b-tink-img) no-repeat 100% !important;
    }
}